:root{
    color-scheme: light dark;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

